streamlit
langchain
openai
pandas
pdfplumber
textblob
scikit-learn
python-dotenv
langgraph
langchain
langgraph
langchain_community
langchain_core
ipykernel
langchain_openai
langchain_groq
streamlit
faiss-cpu
tavily-python
wordcloud
matplotlib